---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";


// Our variables
$base-font-family: "Open Sans", Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;



// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

/**
 *    _    _
 *  .|_|_,' |
 *  |       |
 *  `|`'`-._|
 *   | |
 *   | |   Hey, wanderer! You shouldn't go here. I mean, I do C++, assembly
 *   | |   and VHDL, how do you expect my CSS to be pretty? There must be
 *   | |   a lot of atrocities in here as I usually edit it with
 *   | |   the axe on the left
 *   | |
 *   | |   You may still have a look, but remember, what has be seen
 *  |` |   cannot be unseen.
 *  `--'
 */

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "opensans",
        "base",
        "layout",
        "syntax-highlighting"
;
